<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/game.css">
    <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' type = 'text/javascript'></script>
    <script src = './public/js/p5.js' type = 'text/javascript'></script>
    <script src = './public/js/sketch.js' type = 'text/javascript'></script>
    <script src = './public/js/ship.js' type = 'text/javascript'></script>
    <script src = './public/js/flower.js' type = 'text/javascript'></script>
    <script src = './public/js/drop.js' type = 'text/javascript'></script>

</head>
<body>
        <form action="/products" method="POST">
            Name: <input type="text" name="name"/>
            <br/>
            Artist: <input type="text" name="artist"/>
        </form>
        <a href="/products"><button>Back</button></a>
</body>
</html> -->