<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type = "text/css" href="/css/game.css">
    <title>New Score</title>
</head>
<body>
    <form action="/scores" method="POST">
        Name: <input type="text" name="name" maxlength = "3"/>
        <br/>
        Score: <input type="number" name="score"/>
        <input type="submit" name="" value="Enter"/>
    </form>
    <a href="/play"><button>Play</button></a>
    <a href="/scores"><button>Scores</button></a>
</body>
</html>