@font-face {
    font-family: "Space";
    src: url("../fonts/spaceInvaders.ttf");

    font-family: "BIT";
    src: url("../fonts/8bitMadness.ttf");
}

body {
    background-color: #FFDF00;

}

.black {
    height: 98.7%;
    width: 98.7%;
    margin-left: 0.03%;
    margin-right: 0.03%;
    margin-top: 0.03%;
    margin-bottom: 0.03%;
    position:fixed;
    color: white;
    background-image: url('../img/space.png');
}

.inlineBlock {
    display: inline-block;
}

.block {
    display: block;
}

.back, #input, #delete, #spacePlayButton, #spaceScoreButton {
    color: white;
}


.back:hover, #input:hover, #delete:hover, .lonk:hover, 
#spaceScoreButton:hover, #spacePlayButton:hover {
    color: #727EBD;
    border-color: #888;
}

.top {
    color: #FFDF00;
}

#form {
    padding: 0;
    color: white;
    font-size: 0.5em;
    line-height: 1em;
    background: none;
    text-align: center;
    text-transform: uppercase;
}

#form:focus {
    border-color: #727EBD;
}

.center {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2em; 
    text-align: center;
    list-style-type: none;
}

.center h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.playButton {
    /* margin-top: 5%; */
    margin-left: 45%;
}

#scoreNum {
    margin-left: 1.5em;
}

.lonk {
   text-decoration: none; 
   color: white;
}